<!-- <div class="row row-cols-1 row-cols-md-4 mt-3">
    <div class="col mb-2" *ngFor="let product in products">
        <div class="card">
            <img src="../../../assets/images/carrousel/box.jpg" class="card-img-top" style="height: 30vh;"/>
            <div class="card-body">
                <h5 class="card-tile">Christmas Box 2022</h5>
                <p class="card-text">Some description</p>
                <div class="card-text d-flex justify-content-evenly">
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Detalii
                    </button>
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/carrousel/baklavaCheeseCake.jpg" class="card-img-top overflow-hidden" style="height: 30vh;"/>
            <div class="card-body">
                <h5 class="card-tile">Christmas Box 2022</h5>
                <p class="card-text">Some description</p>
                <div class="card-text d-flex justify-content-evenly">
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Detalii
                    </button>
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/carrousel/cornulete.jpg" class="card-img-top" style="height: 30vh;"/>
            <div class="card-body">
                <h5 class="card-tile">Christmas Box 2022</h5>
                <p class="card-text">Some description</p>
                <div class="card-text d-flex justify-content-evenly">
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Detalii
                    </button>
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/carrousel/medovik.jpg" class="card-img-top" style="height: 30vh;"/>
            <div class="card-body">
                <h5 class="card-tile">Christmas Box 2022</h5>
                <p class="card-text">Some description</p>
                <div class="card-text d-flex justify-content-evenly">
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Detalii
                    </button>
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/carrousel/baklavaCheeseCake.jpg" class="card-img-top overflow-hidden" style="height: 30vh;"/>
            <div class="card-body">
                <h5 class="card-tile">Christmas Box 2022</h5>
                <p class="card-text">Some description</p>
                <div class="card-text d-flex justify-content-evenly">
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Detalii
                    </button>
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/carrousel/cornulete.jpg" class="card-img-top" style="height: 30vh;"/>
            <div class="card-body">
                <h5 class="card-tile">Christmas Box 2022</h5>
                <p class="card-text">Some description</p>
                <div class="card-text d-flex justify-content-evenly">
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Detalii
                    </button>
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/carrousel/medovik.jpg" class="card-img-top" style="height: 30vh;"/>
            <div class="card-body">
                <h5 class="card-tile">Christmas Box 2022</h5>
                <p class="card-text">Some description</p>
                <div class="card-text d-flex justify-content-evenly">
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Detalii
                    </button>
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/carrousel/box.jpg" class="card-img-top" style="height: 30vh;"/>
            <div class="card-body">
                <h5 class="card-tile">Christmas Box 2022</h5>
                <p class="card-text">Some description</p>
                <div class="card-text d-flex justify-content-evenly">
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Detalii
                    </button>
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- {{message}}
<div class="row row-cols-1 row-cols-md-5 mt-3">
    <div class="col mb-2" *ngFor="let product of products">
        <div class="card card-zoom">
            <img [src]="product.imageURL" class="card-img-top" style="height: 30vh;"/>
            <div class="card-body">
                <h5 class="card-tile">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <div class="card-text">                 
                    <button class="btn btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="grid-container" >
    <div class="grid-item" *ngFor="let product of products">
    <img [src]="product.imageURL" class="grid-image"/>
            <div class="grid-item-details">
                <h5 class="">{{product.name}}</h5>
                <p class="">{{product.price}}</p>
                <div class="">                 
                    <button class="btn-custom " type="submit">
                        <i class="bi bi-cart"></i>
                        Add to Cart
                    </button>
                </div>
            </div>
        </div>

</div>
<div>
    <button class="btn btn-outline-primary" routerLink="manageProduct">Add new product</button>
</div>