<nav class="navbar customNavBar">
    <div class="container-fluid">
        <ul class="navbar-nav flex-row w-100 d-flex justify-content-evenly">
            <li class="nav-item text-center">
                <a href="" class="nav-link active" routerLink="home" aria-current="page">
                    <i class="bi bi-house"></i>
                    Home
                </a>
            </li>
            <li class="nav-item text-center">
                <a href="" class="nav-link active" routerLink="products" aria-current="page">
                    <i class="bi bi-cake"></i>
                    Torturi
                </a>
            </li>
            <li class="nav-item text-center">
                <a href="" class="nav-link active" aria-current="page">
                    <i class="bi bi-cookie"></i>
                    Prajituri
                </a>
            </li>
            <li class="nav-item text-center">
                <a href="" class="nav-link active" aria-current="page">
                    <i class="bi bi-box2-heart"></i>
                    Platouri
                </a>
            </li>
            <li class="nav-item text-center">
                <a href="" class="nav-link active" aria-current="page">
                    <i class="bi bi-info-circle"></i>
                    About Us
                </a>
            </li>
        </ul>
    </div>
</nav>
    

