<div class="row mt-3 ">

    <!-- Carrousel -->
    <div class="col-md-8">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner rounded">
              <div class="carousel-item active">
                <img src="../../../assets/images/carrousel/box.jpg" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item active">
                <img src="../../../assets/images/carrousel/box.jpg" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item active">
                <img src="../../../assets/images/carrousel/box.jpg" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item active">
                <img src="../../../assets/images/carrousel/box.jpg" class="img-fluid" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

    <!-- Top deals -->
    <div class="col-md-4 d-flex align-items-start flex-column">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/images/carrousel/baklavaCheeseCake.jpg" class="img-fluid rounded-start"/>
                </div>
                <div class="col-md-8 ">
                    <div class="card-body pt-2">
                        <div class="row">
                            <h5>Baklava Cheesecake</h5>
                        <p><i class="bi bi-star"></i> 9.5/10</p>
                        </div>
                        <div class="card-text d-flex justify-content-evenly">
                            
                            <button class="btn btn-custom " type="submit">
                                <i class="bi bi-cart"></i>
                                Add to Cart
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/images/carrousel/medovik.jpg" class="img-fluid rounded-start"/>
                </div>
                <div class="col-md-8 ">
                    <div class="card-body">
                        <h5 class="card-title">Baklava Cheesecake</h5>
                        <p class="card-text"><i class="bi bi-star"></i> 9.5/10</p>
                        <div class="card-text d-flex justify-content-evenly">
                            <button class="btn btn-custom " type="submit">
                                <i class="bi bi-cart"></i>
                                Detalii
                            </button>
                            <button class="btn btn-custom " type="submit">
                                <i class="bi bi-cart"></i>
                                Add to Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="card mb-auto">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../../../assets/images/carrousel/cornulete.jpg" class="img-fluid rounded-start"/>
                </div>
                <div class="col-md-8 ">
                    <div class="card-body">
                        <div class="row">
                            <h5>Baklava Cheesecake</h5>
                        <p><i class="bi bi-star"></i> 9.5/10</p>
                        </div>
                        <div class="card-text d-flex justify-content-evenly">
                            <button class="btn btn-custom " type="submit">
                                <i class="bi bi-cart"></i>
                                Detalii
                            </button>
                            <button class="btn btn-custom " type="submit">
                                <i class="bi bi-cart"></i>
                                Add to Cart
                            </button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
    </div>
</div>
